html,body{
    height: 100%;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-width: 960px;
    height: 72px;
    padding: 0 32px;
    background-color: #074499;
}

.wrap_title{
    display: flex;
    flex: 1;
    min-width: 0;
    padding-right: 40px;
    align-items: center;
}

.link_logo{
    padding: 5px 0;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

/*.container{*/
/*    width: 1200px;*/
/*    min-height: calc(100% - 120px);*/
/*    margin: 0 auto;*/
/*}*/

.main{
    margin-top: 72px;
}