@charset "UTF-8";
:root{
    --first-color:#5e5e7c;
    --bg-color:hsl(256, 88%, 16%);
    --sub-color:black;
    --white-color:white;
    --nomal-font-size:1rem;
    --small-font-size:.875rem;
    --z-fixed:100
}
::after,::before{
    box-sizing:border-box
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    position:relative;
    margin:0;
    padding:0;
    transition:.5s
}
body-pd{
    background-color:#18044c
}
a{
    text-decoration:none
}
*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}
footer,main{
    display:block
}
[tabindex="-1"]:focus{
    outline:0!important
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
.admin{
	width:100%;
}

h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:.5rem
}
p{
    margin-top:0;
    margin-bottom:2rem
}
a{
    color:#5e72e4;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
[hidden]{
    display:none!important
}
.h1,.h2,.h3,.h4,.h5,.h6,h2,h3,h4,h5,h6{
    margin-bottom:.5rem;
    font-family:inherit;
    font-weight:600;
    line-height:1.5;
    color:#32325d
}
.h1-1{
	font-size:2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 14px;
    color: #32325d;
    display: block;
}
.h1,h1{
	font-size:2rem
}

.h2,h2{
    font-size:1.25rem
}
.h3,h3{
    font-size:1.0625rem
}
.h4,h4{
    font-size:.9375rem
}
.h5,h5{
    font-size:.8125rem
}
.h6,h6{
    font-size:.625rem
}
hr{
    margin-top:2rem;
    margin-bottom:2rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1)
}
.container-fluid{
    width:100%;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto
}
.row{
    display:flex;
    margin-right:-15px;
    margin-left:-15px
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-6{
    flex:0 0 50%;
}
@media (min-width:992px){
    .col-lg{
        flex-basis:0;
        flex-grow:1;
        max-width:100%
    }
    .col-lg-6{
        flex:0 0 50%;
        max-width:50%
    }
}
@media (min-width:1200px){
    .col-xl{
        flex-basis:0;
        flex-grow:1;
        max-width:100%
    }
    .col-xl-3{
        flex:0 0 25%;
        max-width:25%
    }
    .col-xl-4{
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .col-xl-6{
        flex:0 0 50%
    }
    .col-xl-8{
        flex:0 0 66.666667%;
        max-width:66.666667%
    }
}
.btn{
    display:inline-block;
    font-weight:600;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    user-select:none;
    border:1px solid transparent;
    padding:.625rem 1.25rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.375rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
@media screen and (prefers-reduced-motion:reduce){
    .btn{
        transition:none
    }
}
.btn-primary{
    color:#fff;
    background-color:#18044c;
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    border:1.5px solid #18044c
}
.btn-primary:hover{
    color:#000;
    background-color:#fff;
    border-color:#18044c
}
.btn-primary:focus{
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(94,114,228,.5)
}
.btn-primary:disabled{
    color:#fff;
    background-color:#172b4d;
    border-color:#172b4d
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow:none,0 0 0 0 rgba(94,114,228,.5)
}
.btn-sm{
    padding:.25rem .5rem;
    font-size:.875rem;
    line-height:1.5;
    border-radius:.375rem
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid #d3d3d3;
    border-radius:.375rem
}
.card>hr{
    margin-right:0;
    margin-left:0
}
.card-body{
    flex:1 1 auto;
    padding:1.5rem
}

.card-body table{
	padding: 5px;
	border-radius: 10px;
}
.admin{
	width: 100%;
    margin-left: 40px;
}
.card-title{
    margin-bottom:1.25rem
}
.card-text:last-child{
    margin-bottom:0
}
.card-header{
    padding:1.25rem 1.5rem;
    margin-bottom:0;
    background-color:#fff;
    border-bottom:1px solid rgba(0,0,0,.05)
}
.card-header:first-child{
    border-radius:calc(.375rem - 1px) calc(.375rem - 1px) 0 0
}
a.bg-primary:focus,a.bg-primary:hover{
    background-color:#172b4d!important
}
.bg-white{
    background-color:#fff!important
}
a.bg-white:focus,a.bg-white:hover{
    background-color:#e6e6e6!important
}
.bg-white{
    background-color:#fff!important
}
.bg-transparent{
    background-color:transparent!important
}
.justify-content-center{
    justify-content:center!important
}
.justify-content-between{
    justify-content:space-between!important
}
.align-items-center{
    align-items:center!important
}
@media (min-width:576px){
    .align-items-sm-center{
        align-items:center!important
    }
}
@media (min-width:992px){
    .justify-content-lg-center{
        justify-content:center!important
    }
    .justify-content-lg-between{
        justify-content:space-between!important
    }
}
@media (min-width:1200px){
    .justify-content-xl-center{
        justify-content:center!important
    }
    .justify-content-xl-between{
        justify-content:space-between!important
    }
    .align-items-xl-center{
        align-items:center!important
    }
    .align-content-xl-center{
        align-content:center!important
    }
    .align-content-xl-between{
        align-content:space-between!important
    }
}
@supports (position:sticky){
    .sticky-top{
        position:sticky;
        top:0;
        z-index:1020
    }
}
.mb-0{
    margin-bottom:0!important
}
.mb-1{
    margin-bottom:.25rem!important
}
.ml-1{
    margin-left:.25rem!important
}
.mr-2{
    margin-right:.5rem!important
}
.mt-3{
    margin-top:1rem!important
}
.mr-3{
    margin-right:1rem!important
}
.mb-3{
    margin-bottom:1rem!important
}
.mt-4{
    margin-top:1.5rem!important
}
.mb-4{
    margin-bottom:1.5rem!important
}
.mb-5{
       margin-bottom: 17.6rem!important;
}
.mt--7{
    margin-top:-6rem!important
}
.text-nowrap{
    white-space:nowrap!important
}
.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.text-right-b{
    text-align:right!important;
    margin-top:3.1rem;
}
.text-center{
    text-align:center!important
}
@media (min-width:576px){
    .text-sm-left{
        text-align:left!important
    }
    .text-sm-right{
        text-align:right!important
    }
    .text-sm-center{
        text-align:center!important
    }
}
@media (min-width:992px){
    .text-lg-left{
        text-align:left!important
    }
    .text-lg-right{
        text-align:right!important
    }
    .text-lg-center{
        text-align:center!important
    }
}
@media (min-width:1200px){
    .text-xl-left{
        text-align:left!important
    }
}
.text-uppercase{
    text-transform:uppercase!important
}
.text-white{
    color:#fff!important
}
.text-white{
    color:#fff!important
}
a.text-white:focus,a.text-white:hover{
    color:#e6e6e6!important
}
@media print{
    *,::after,::before{
        text-shadow:none!important;
        box-shadow:none!important
    }
    a:not(.btn){
        text-decoration:underline
    }
    h2,h3,p{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
    @page{
        size:a3
    }
    body{
        min-width:992px!important
    }
}
main{
    display:block
}
main{
    overflow:hidden
}
.bg-white{
    background-color:#fff!important
}
a.bg-white:focus,a.bg-white:hover{
    background-color:#e6e6e6!important
}
[class*=shadow]{
    transition:all .15s ease
}
.font-weight-300{
    font-weight:300!important
}
.font-weight-400{
    font-weight:400!important
}
.font-weight-500{
    font-weight:500!important
}
.font-weight-600{
    font-weight:600!important
}
.font-weight-700{
    font-weight:700!important
}
.font-weight-800{
    font-weight:800!important
}
.font-weight-900{
    font-weight:900!important
}
.text-sm{
    font-size:.875rem!important
}
.text-lg{
    font-size:1.25rem!important
}
.text-xl{
    font-size:1.5rem!important
}
.ls-1{
    letter-spacing:.0625rem
}
.text-white{
    color:#fff!important
}
a.text-white:focus,a.text-white:hover{
    color:#e6e6e6!important
}
.title-container {
  display: flex;
  align-items: center; /* 세로 중앙 정렬을 위해 추가 */
}

.title-container a {
  margin-left: auto; /* 버튼을 오른쪽으로 이동 */
}
.btn{
    position:relative;
    text-transform:none;
    transition:all .15s ease;
    letter-spacing:.025em;
    font-size:.875rem;
    will-change:transform
}
.btn:hover{
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    transform:translateY(-1px)
}
.btn-sm{
    font-size:.75rem
}
[class*=btn-outline-]{
    border-width:1px
}
.card-stats .card-body{
    padding:1rem 1.5rem
}
#current_date{
    color:#000
}
