<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectCert" parameterType="Integer" resultType="com.kosa.hrsystem.dto.CertificateDTO">
		select rownum as rnum, cert_num, CRTFC_NAME, ISSUER, ACQUISITION_DATE, REMARKS from CERTIFICATE where emp_num = #{emp_num}
	</select>
	<insert id="insertCert" parameterType="com.kosa.hrsystem.dto.CertificateDTO">
		insert into CERTIFICATE values (cert_seq.nextval,#{emp_num},#{crtfc_name},#{issuer},#{acquisition_date},#{remarks})
	</insert>
	<update id="updateCert" parameterType="com.kosa.hrsystem.dto.CertificateDTO">
		update CERTIFICATE set crtfc_name = #{crtfc_name},
							issuer = #{issuer},
							acquisition_date = #{acquisition_date},
							remarks = #{remarks}
							where cert_num = #{cert_num} 
	</update>
	<delete id="deleteCert" parameterType="Integer">
		delete from CERTIFICATE where cert_num = #{cert_num}
	</delete>
	<delete id="deleteCertByCrtfcNumAndIssuer" parameterType="HashMap">
		delete from CERTIFICATE where crtfc_name = #{certName} and issuer = #{issuer}
	</delete>
</mapper>