<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="searchTotalAtt" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.CommuteRecordVO">
		SELECT
		a.att_num,
		a.emp_num,
		e.emp_name,
		a.go_work,
		a.leave_work,
		a.break_time,
		TRUNC((a.leave_work - a.go_work) * 24) work_time
		FROM attendance a
		JOIN emp e ON a.emp_num = e.emp_num
		where 1=1
		<choose>
			<when test="searchType == 'empNum'.toString()">
				AND a.emp_num like '%' || #{searchWord} || '%'
			</when>
			<when test="searchType == 'empName'.toString()">
				AND e.emp_name like '%' || #{searchWord} || '%'
			</when>
		</choose>
		order by a.go_work desc
	</select>
	<select id="searchByDateAtt" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.CommuteRecordVO">
		SELECT
		a.att_num,
		a.emp_num,
		e.emp_name,
		a.go_work,
		a.leave_work,
		a.break_time,
		TRUNC((a.leave_work - a.go_work) * 24) work_time
		FROM attendance a
		JOIN emp e ON a.emp_num = e.emp_num
		where to_char(a.go_work,'yyyy-MM-dd') >= #{startDate} AND to_char(a.leave_work, 'yyyy-MM-dd') <![CDATA[ <= ]]> #{endDate}
		order by a.go_work desc
	</select>
	
	<select id="selectAllRecord" resultType="com.kosa.hrsystem.vo.CommuteRecordVO">
		SELECT
		a.att_num,
		a.emp_num,
		e.emp_name,
		a.go_work,
		a.leave_work,
		a.break_time,
		a.att_status,
		TRUNC((a.leave_work - a.go_work) * 24) work_time
		FROM attendance a
		JOIN emp e ON a.emp_num = e.emp_num
		order by go_work desc
	</select>

	<insert id="insertRecord"
		parameterType="com.kosa.hrsystem.vo.CommuteRecordVO">
		insert into attendance(att_num, emp_num, go_work, leave_work,att_status)
		values (attseq.nextval, #{emp_num}, #{go_work}, #{leave_work, jdbcType =
		DATE},#{att_status})
	</insert>

	<update id="updateRecord"
		parameterType="com.kosa.hrsystem.vo.CommuteRecordVO">
		update attendance set
		emp_num = #{emp_num},
		go_work = #{go_work},
		leave_work = #{leave_work}
		where att_num = #{att_num}
	</update>


	<delete id="deleteRecord" parameterType="Integer">
		delete from attendance
		where att_num = #{att_num}
	</delete>
</mapper>