<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <select id="selectByEmail" parameterType="HashMap" resultType="com.kosa.hrsystem.dto.EmpDTO">
		select email, emp_num, emp_name, permission_type from EMP where email=#{email} AND pwd = #{pwd}
	</select>
	<select id="selectAllEmp" resultType="com.kosa.hrsystem.dto.EmpDTO">
		SELECT * FROM EMP
	</select>
	<insert id="insertEmp" parameterType="com.kosa.hrsystem.dto.EmpDTO">
		<!-- insert into emp values(#{},#{},#{},#{},#{},#{},#{},#{},#{},#{},) -->
	</insert>
	<update id="updateEmp" parameterType="com.kosa.hrsystem.dto.EmpDTO">

	</update>
	<delete id="deleteEmp" parameterType="Integer">
		delete * from EMP where emp_num = #{emp_num}
	</delete>
</mapper>