<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="dev">
	<select id="selectAllRequest" resultType="com.kosa.hrsystem.dto.RequestHistoryDTO">
		select request_history.* from request_history
			JOIN emp on request_history.emp_num = emp.emp_num

		ORDER BY rqst_hstry_num
	</select>

	<update id="updateRequest" parameterType="HashMap">
		update
		<choose>
			<when test="historyType == '근무'.toString()">
				work_schedule
			</when>
			<when test="historyType == '휴가'.toString()">
				vacation
			</when>
			<when test="historyType == '근태'.toString()">
				attendance
			</when>
		</choose>
		set
		<if test="historyStatus == 'true'.toString()">
			state=1
		</if>
		<if test="historyStatus == 'false'.toString()">
			state=2
		</if>
		<if test="historyStatus == 'cancle'.toString()">
			state=3
		</if>
	</update>

	<insert id="insertRequest">
		insert into REQUEST_HISTORY(rqst_hstry_num,emp_num,request_num,request_type) values (req_seq.nextval,#{emp_num},#{request_num},#{request_type})
	</insert>
</mapper>