<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <select id="selectDataAll" resultType="com.kosa.hrsystem.dto.testDTO">
        select * from test_table
    </select>

    <insert id="insertData" parameterType="com.kosa.hrsystem.dto.testDTO">
        insert into test_table values(#{testval1}, #{testval2})
    </insert>

</mapper>