<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectAllVacation" resultType="com.kosa.hrsystem.vo.VacationVO">
	select v.vctn_num, 
        v.emp_num, 
        e.emp_name, 
        to_char(v.vctn_start_date, 'yyyy-mm-dd HH24:MI') as startdate, 
        to_char(v.vctn_end_date,  'yyyy-mm-dd HH24:MI') as enddate,
        v.vctn_type_num,
        vt.vctn_name,
        vt.vctn_time,
        vt.deduction_day,
        v.vctn_reason,
        floor(trunc(v.vctn_end_date,'MI')-trunc(v.vctn_start_date,'MI'))  as countday
    from vacation v
    inner join 
        emp e
    on v.emp_num = e.emp_num
    inner join
        vacation_type vt
    on v.vctn_type_num = vt.vctn_type_num
	order by v.vctn_start_date desc
	</select> 
	
	<insert id="insertVacation" parameterType="com.kosa.hrsystem.dto.VacationDTO">
		insert into vacation(vctn_num, emp_num, vctn_type_num, vctn_start_date, vctn_end_date, vctn_application_date, vctn_reason, vctn_approval) values (vctn_num_seq.nextval,#{emp_num}, #{vctn_type_num}, #{vctn_start_date}, #{vctn_end_date}, to_date(sysdate,'yyyy-mm-dd hh24:mi') , #{vctn_reason}, #{vctn_approval}) 
	</insert>
	
	<update id="updateVacation" parameterType="com.kosa.hrsystem.dto.VacationDTO">
		update vacation set vctn_type_num= #{vctn_type_num}, vctn_start_date= #{vctn_start_date},vctn_end_date=#{vctn_end_date}, vctn_reason=#{vctn_reason} where vctn_num = #{vctn_num}
	</update>
	
	<delete id="deleteVacation" parameterType="Integer">
		delete from vacation where vctn_num = #{num}
	</delete>
	<select id="selectVctnCurrval" resultType="Integer">
        SELECT vctn_num_seq.CURRVAL FROM DUAL
    </select>
	<!-- 스케줄 휴가 조회 -->
	<select id="selectVac" parameterType="Integer" resultType="com.kosa.hrsystem.vo.UserScheduleVO">
    SELECT 
    	v.vctn_start_date,
    	v.vctn_end_date,
    	vt.vctn_type_num,
    	vt.vctn_name
	FROM 
    	vacation v
	INNER JOIN 
    	emp e ON v.emp_num = e.emp_num
	INNER JOIN
    	vacation_type vt ON v.vctn_type_num = vt.vctn_type_num
   INNER JOIN
    	request_history rh ON v.vctn_num = rh.request_num
	WHERE 
    	e.emp_num = #{EMPNUM} and rh.state != 0
    </select>

	<select id="searchVacTotal" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.VacationVO">
	select 
		v.vctn_num, 
        v.emp_num, 
        e.emp_name, 
        to_char(v.vctn_start_date, 'yyyy-mm-dd HH24:MI') as startdate, 
        to_char(v.vctn_end_date,  'yyyy-mm-dd HH24:MI') as enddate,
        v.vctn_type_num,
        vt.vctn_name,
        vt.vctn_time,
        vt.deduction_day,
        v.vctn_reason,
        floor(trunc(v.vctn_end_date,'MI')-trunc(v.vctn_start_date,'MI'))  as countday
    from 
    	vacation v
    inner join 
    	emp e on v.emp_num = e.emp_num
    inner join 
    	vacation_type vt  on v.vctn_type_num = vt.vctn_type_num
     
     where 1=1
            <choose>
                <when test = "searchType == 'empNum'.toString()">
                    AND v.emp_num like '%' || #{searchWord} || '%'
                </when>        
                <when test = "searchType == 'empName'.toString()">
                    AND e.emp_name like '%' || #{searchWord} || '%'
                </when>
                <when test = "searchType == 'vacType'.toString()">
                    AND vt.vctn_name like '%' || #{searchWord} || '%'
                </when>
             
            </choose>
	order by v.vctn_num desc
	</select>
	
	<!-- 날짜검색 -->
	<select id="searchVacByDate" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.VacationVO">
        select 
		v.vctn_num, 
        v.emp_num, 
        e.emp_name, 
        to_char(v.vctn_start_date, 'yyyy-mm-dd HH24:MI') as startdate, 
        to_char(v.vctn_end_date,  'yyyy-mm-dd HH24:MI') as enddate,
        v.vctn_type_num,
        vt.vctn_name,
        vt.vctn_time,
        vt.deduction_day,
        v.vctn_reason,
        floor(trunc(v.vctn_end_date,'MI')-trunc(v.vctn_start_date,'MI'))  as countday
    from 
    	vacation v
    inner join 
    	emp e on v.emp_num = e.emp_num
    inner join 
    	vacation_type vt  on v.vctn_type_num = vt.vctn_type_num
    where to_char(v.vctn_start_date,'yyyy-MM-dd') >= #{startDate} and to_char(v.vctn_end_date,'yyyy-MM-dd') <![CDATA[ <= ]]> #{endDate}
     order by v.vctn_num desc
	</select>
    <update id="updateCalcVac" parameterType="HashMap">
        update emp set  annual_num = annual_num-(select vt.deduction_day * floor(trunc(v.vctn_end_date,'MI')-trunc(v.vctn_start_date,'MI')) day
                                                 from vacation v
                                                          inner join emp e on v.emp_num = e.emp_num
                                                          inner join vacation_type vt on v.vctn_type_num = vt.vctn_type_num
                                                 where v.vctn_num = #{vctnNum}) where emp_num=#{empNum}
    </update>
</mapper>