<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <select id="selectAll" resultType="com.kosa.hrsystem.vo.VacationTypeVO">
	SELECT
		vt.vctn_type_num,
		vt.vctn_name,
		dept_table.code_value deptValue,
		rank_table.code_value rankValue,
		vt.vctn_time,
		vt.deduction_day
	FROM
		vacation_type vt
	INNER JOIN
		code_table rank_table
	ON vt.rank = rank_table.code_name
	INNER JOIN
		code_table dept_table
	ON vt.dept = dept_table.code_name
	order by vt.vctn_type_num
	<!-- 	select * from vacation_type order by vctn_type_num -->
	</select>
	<insert id="insertVctnType" parameterType="com.kosa.hrsystem.dto.VacationTypeDTO">
		insert into vacation_type(vctn_type_num,vctn_name,dept,rank,vctn_time,deduction_day) values (vacation_type_seq.nextval,#{vctn_name},#{dept},#{rank},#{vctn_time},#{deduction_day})  
	</insert>
	<update id="updateVctnType" parameterType="com.kosa.hrsystem.dto.VacationTypeDTO">
		update vacation_type set vctn_name = #{vctn_name}, dept=#{dept}, rank=#{rank},vctn_time=#{vctn_time}, deduction_day=#{deduction_day} where vctn_type_num = #{vctn_type_num}
	</update>
	<delete id="deleteVctnType" parameterType="Integer">
		delete from vacation_type where vctn_type_num = #{num}
	</delete>
</mapper>