<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <select id="selectAll" resultType="com.kosa.hrsystem.dto.VacationTypeDTO">
	select * from vacation_type order by vctn_type_num
	</select>
	
	<insert id="insertVctnType" parameterType="com.kosa.hrsystem.dto.VacationTypeDTO">
		insert into vacation_type(vctn_type_num,vctn_name,vctn_time,deduction_day) values (vctn_type_num_seq.nextval,#{vctn_name},#{vctn_time},#{deduction_day})  
	</insert>
	<update id="updateVctnType" parameterType="com.kosa.hrsystem.dto.VacationTypeDTO">
		update vacation_type set vctn_name = #{vctn_name},vctn_time=#{vctn_time}, deduction_day=#{deduction_day} where vctn_type_num = #{vctn_type_num}
	</update>
	<delete id="deleteVctnType" parameterType="Integer">
		delete from vacation_type where vctn_type_num = #{num}
	</delete>
	
</mapper>