<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectAllWorkType" resultType="com.kosa.hrsystem.dto.WorkScheduleTypeDTO">
	  select 
	  	work_sch_type_num, 
	  	work_name,
        work_start, 
        work_end
      from WORK_SCHEDULE_TYPE
	
	</select>

	<insert id="insertWorkScheduleType" parameterType="com.kosa.hrsystem.dto.WorkScheduleTypeDTO">
    	insert into WORK_SCHEDULE_TYPE (work_sch_type_num, work_name, work_start, work_end) 
    	values (work_sch_type_num_seq.nextval, #{work_name}, #{work_start}, #{work_end})
	</insert>
	
	<update id="updateWorkScheduleType" parameterType="com.kosa.hrsystem.dto.WorkScheduleTypeDTO">
		update work_schedule_type set 
			work_name = #{work_name}, 
			work_start = #{work_start}, 
			work_end = #{work_end}
		where work_sch_type_num = #{work_sch_type_num}
	</update>
	
	<delete id="deleteWorkScheduleType" parameterType="Integer">
		delete from work_schedule_type where work_sch_type_num = #{work_sch_type_num}	
	</delete> 

</mapper>

