<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <select id="selectWorkSchCurrval" resultType="Integer">
        SELECT ws_seq.CURRVAL FROM DUAL
    </select>
	<select id="searchTotal" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.WorkScheduleVO">
		SELECT
            e.emp_num,
            e.emp_name,
            w.go_work,
            w.leave_work,
            t.work_name,
            t.work_sch_type_num,
            w.work_sch_num,
            w.remarks
        FROM work_schedule w
              INNER JOIN work_schedule_type t ON w.work_sch_type_num = t.work_sch_type_num
			  INNER JOIN emp  e ON e.emp_num = w.emp_num
             
            where 1=1
            <choose>
                <when test = "searchType == 'empNum'.toString()">
                    AND e.emp_num like '%' || #{searchWord} || '%'
                </when>        
                <when test = "searchType == 'empName'.toString()">
                    AND emp_name like '%' || #{searchWord} || '%'
                </when>
                <when test = "searchType == 'workType'.toString()">
                    AND work_name like '%' || #{searchWord} || '%'
                </when>
            </choose>
            order by w.go_work desc
	</select>
	<select id="searchByDate" parameterType="HashMap" resultType="com.kosa.hrsystem.vo.WorkScheduleVO">
		SELECT
            e.emp_num,
            e.emp_name,
            w.go_work,
            w.leave_work,
            t.work_name,
            t.work_sch_type_num,
            w.work_sch_num,
            w.remarks
        FROM work_schedule w
            INNER JOIN work_schedule_type t ON w.work_sch_type_num = t.work_sch_type_num
            INNER JOIN emp e ON e.emp_num = w.emp_num

            where to_char(w.go_work,'yyyy-MM-dd') >= #{startDate} AND to_char(w.leave_work,'yyyy-MM-dd') <![CDATA[ <= ]]> #{endDate} order by w.go_work desc
	</select>
	<select id="selectAllWorkSchedule" parameterType="Integer" resultType="com.kosa.hrsystem.vo.WorkScheduleVO">
		SELECT
            e.emp_num,
            e.emp_name,
            w.go_work,
            w.leave_work,
            t.work_name,
            t.work_sch_type_num,
            w.work_sch_num,
            w.remarks
        FROM
            work_schedule w
            INNER JOIN work_schedule_type t ON w.work_sch_type_num = t.work_sch_type_num              
            INNER JOIN emp e ON e.emp_num = w.emp_num
            order by w.go_work desc
	</select>
	<insert id="insertWorkSchedule" parameterType="com.kosa.hrsystem.dto.WorkScheduleDTO">
		insert into work_schedule values (ws_seq.nextval,#{work_sch_type_num},#{emp_num},#{go_work},#{leave_work},#{remarks})
	</insert>
	<update id="updateWorkSchedule" parameterType="com.kosa.hrsystem.dto.WorkScheduleDTO">
		update work_schedule set 
		    work_sch_type_num = #{work_sch_type_num},
		    emp_num = #{emp_num},
		    go_work = #{go_work},
		    leave_work = #{leave_work},
		    remarks = #{remarks, jdbcType=VARCHAR}
		    where work_sch_num = #{work_sch_num}
	</update>
	<delete id="deleteWorkSchedule" parameterType="Integer">
		delete from work_schedule where work_sch_num = #{work_sch_num}
	</delete>
	<!-- 스케줄 근무일정 조회 -->
	<select id="selectWork" parameterType="Integer" resultType="com.kosa.hrsystem.vo.UserScheduleVO">

    SELECT DISTINCT
    	ws.go_work wsgowork,
    	ws.leave_work wsleavework, 
    	wst.work_name,
        rh.state
	FROM 
    	work_schedule ws
	INNER JOIN 
    	emp e ON ws.emp_num = e.emp_num
	INNER JOIN
    	work_schedule_type wst ON ws.work_sch_type_num = wst.work_sch_type_num
        INNER JOIN
    	request_history rh ON ws.work_sch_num = rh.request_num     
	WHERE 
    	e.emp_num = #{emp_num} and rh.state != 0
    	
	</select>
</mapper>

