<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="dev">
	<select id="selectAllRcd" parameterType="Integer" resultType="com.kosa.hrsystem.dto.WorkRecordDTO">
SELECT
	a.att_num,
	a.emp_num,
	e.emp_name,
	a.go_work,
	a.leave_work,
	a.break_time,
	TRUNC((a.leave_work - a.go_work) * 24) work_time
	FROM ATTENDANCE a
	INNER JOIN emp e ON a.emp_num = e.emp_num
	INNER JOIN request_history rh ON a.att_num = rh.request_num
	WHERE e.EMP_NUM = 2222 AND rh.state != 0  
	order by go_work desc;
	</select>
	<select id="searchWorkRecByDate" parameterType="HashMap" resultType="com.kosa.hrsystem.dto.WorkRecordDTO">
		SELECT
		   a.att_num,
		   a.emp_num,
		   e.emp_name,
		   a.go_work,
		   a.leave_work,
		   a.break_time,
		   TRUNC((a.leave_work - a.go_work) * 24) work_time
		FROM
		   attendance a
		JOIN
		   emp e ON a.emp_num = e.emp_num
		where
		    e.emp_num=#{empNum} AND
		    to_char(a.go_work,'yyyy-MM-dd') >= #{startDate} AND to_char(a.leave_work,'yyyy-MM-dd') <![CDATA[ <= ]]> #{endDate} order by a.go_work desc
	</select>

</mapper>
